<a href="https://colab.research.google.com/github/amapapa/PythonTutorial/blob/main/Two.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*   Opertators in Python
    - Arithmetic 
    - Relational
    - Logical
    - Bitwise

In [ ]:
# The number system
var = 10
binary = bin(var)
octal  = oct(var)
hexa   = hex(var)


print( "Integer variable {} has binary format {}, oct format {}, hexadecimal format {}".format(var,binary,octal,hexa))

In [ ]:
binary

In [ ]:
a="ABC"
b="DEF"
a==b
a + 2*b

In [ ]:
x="henry"

'e' in x

for i,j in enumerate(x):
    print(i, " " , j)